server/business/routes/post/remittance.server.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://remittance.webservice.carnelian.ccti.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarnelianWebServiceRemittanceImplService" targetNamespace="http://remittance.webservice.carnelian.ccti.com/">
<wsdl:types>
<xs:schema xmlns:tns="http://remittance.webservice.carnelian.ccti.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://remittance.webservice.carnelian.ccti.com/" version="1.0">
<xs:element name="createTransaction" type="tns:createTransaction"/>
<xs:element name="createTransactionResponse" type="tns:createTransactionResponse"/>
<xs:element name="inquireTransaction" type="tns:inquireTransaction"/>
<xs:element name="inquireTransactionResponse" type="tns:inquireTransactionResponse"/>
<xs:complexType name="inquireTransaction">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:inquiryRequestHeader"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="inquiryRequestHeader">
<xs:sequence>
<xs:element minOccurs="0" name="applicationNo" type="xs:string"/>
<xs:element minOccurs="0" name="coverNo" type="xs:string"/>
<xs:element minOccurs="0" name="dtFrom" type="xs:string"/>
<xs:element minOccurs="0" name="dtTo" type="xs:string"/>
<xs:element minOccurs="0" name="feedbackStatus" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="inquireTransactionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:inquireTransactionResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="inquireTransactionResult">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="errorMessageResponseList" nillable="true" type="tns:errorMessageResponse"/>
<xs:element minOccurs="0" name="inquiryRequestHeader" type="tns:inquiryResponseHeader"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="inquiryResponseDetailList" nillable="true" type="tns:inquiryResponseDetail"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="errorMessageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="xs:string"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="inquiryResponseHeader">
<xs:sequence>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element minOccurs="0" name="isError" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="inquiryResponseDetail">
<xs:sequence>
<xs:element minOccurs="0" name="dtPaidRefund" type="xs:string"/>
<xs:element minOccurs="0" name="dtProcessed" type="xs:string"/>
<xs:element minOccurs="0" name="timePaidRefund" type="xs:string"/>
<xs:element minOccurs="0" name="timeProcessed" type="xs:string"/>
<xs:element minOccurs="0" name="transactionFeedbackStatus" type="xs:string"/>
<xs:element minOccurs="0" name="transactionStatus" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createTransaction">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:requestHeader"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:webServiceParameters"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestHeader">
<xs:sequence>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="webServiceParameters">
<xs:sequence>
<xs:element minOccurs="0" name="accountName" type="xs:string"/>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="accountType" type="xs:string"/>
<xs:element minOccurs="0" name="altBeneName" type="xs:string"/>
<xs:element minOccurs="0" name="altBeneRelToBene" type="xs:string"/>
<xs:element minOccurs="0" name="altRecRelToBene" type="xs:string"/>
<xs:element minOccurs="0" name="applicationNumber" type="xs:string"/>
<xs:element minOccurs="0" name="bankCode" type="xs:string"/>
<xs:element minOccurs="0" name="bankName" type="xs:string"/>
<xs:element minOccurs="0" name="beneAddr1" type="xs:string"/>
<xs:element minOccurs="0" name="beneAddr2" type="xs:string"/>
<xs:element minOccurs="0" name="beneAddr3" type="xs:string"/>
<xs:element minOccurs="0" name="beneAmtConv" type="xs:double"/>
<xs:element minOccurs="0" name="beneBdate" type="xs:string"/>
<xs:element minOccurs="0" name="beneCcyCd" type="xs:string"/>
<xs:element minOccurs="0" name="beneCivilStatus" type="xs:string"/>
<xs:element minOccurs="0" name="beneCountry" type="xs:string"/>
<xs:element minOccurs="0" name="beneCustType" type="xs:string"/>
<xs:element minOccurs="0" name="beneEmail" type="xs:string"/>
<xs:element minOccurs="0" name="beneGender" type="xs:string"/>
<xs:element minOccurs="0" name="beneId" type="xs:string"/>
<xs:element minOccurs="0" name="beneLandmark" type="xs:string"/>
<xs:element minOccurs="0" name="beneLastName" type="xs:string"/>
<xs:element minOccurs="0" name="beneMiddleName" type="xs:string"/>
<xs:element minOccurs="0" name="beneMobileNo" type="xs:string"/>
<xs:element minOccurs="0" name="beneNationality" type="xs:string"/>
<xs:element minOccurs="0" name="beneNotificationType" type="xs:string"/>
<xs:element minOccurs="0" name="beneOfficePhoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="benePlaceOfBirth" type="xs:string"/>
<xs:element minOccurs="0" name="benePoBox" type="xs:string"/>
<xs:element minOccurs="0" name="beneProfession" type="xs:string"/>
<xs:element minOccurs="0" name="beneRelationToRemitter" type="xs:string"/>
<xs:element minOccurs="0" name="beneTin" type="xs:string"/>
<xs:element minOccurs="0" name="beneZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="benefirstName" type="xs:string"/>
<xs:element minOccurs="0" name="branchCode" type="xs:string"/>
<xs:element minOccurs="0" name="branchName" type="xs:string"/>
<xs:element minOccurs="0" name="cardNo" type="xs:string"/>
<xs:element minOccurs="0" name="counterCharge" type="xs:double"/>
<xs:element minOccurs="0" name="dtRemittance" type="xs:string"/>
<xs:element minOccurs="0" name="individualCode" type="xs:string"/>
<xs:element minOccurs="0" name="isWaived" type="xs:int"/>
<xs:element minOccurs="0" name="messageToBene" type="xs:string"/>
<xs:element minOccurs="0" name="modeOfCharge" type="xs:string"/>
<xs:element minOccurs="0" name="otherCharges" type="xs:double"/>
<xs:element minOccurs="0" name="outletBranchCd" type="xs:string"/>
<xs:element minOccurs="0" name="outletCd" type="xs:string"/>
<xs:element minOccurs="0" name="paymentField1" type="xs:string"/>
<xs:element minOccurs="0" name="paymentField2" type="xs:string"/>
<xs:element minOccurs="0" name="paymentField3" type="xs:string"/>
<xs:element minOccurs="0" name="paymentField4" type="xs:string"/>
<xs:element minOccurs="0" name="paymentField5" type="xs:string"/>
<xs:element minOccurs="0" name="purposeCode" type="xs:string"/>
<xs:element minOccurs="0" name="receiverCorrBank" type="xs:string"/>
<xs:element minOccurs="0" name="receivingBank" type="xs:string"/>
<xs:element minOccurs="0" name="remitterAddr1" type="xs:string"/>
<xs:element minOccurs="0" name="remitterAddr2" type="xs:string"/>
<xs:element minOccurs="0" name="remitterAddr3" type="xs:string"/>
<xs:element minOccurs="0" name="remitterBdate" type="xs:string"/>
<xs:element minOccurs="0" name="remitterCivilStatus" type="xs:string"/>
<xs:element minOccurs="0" name="remitterContinent" type="xs:string"/>
<xs:element minOccurs="0" name="remitterCountry" type="xs:string"/>
<xs:element minOccurs="0" name="remitterCustType" type="xs:string"/>
<xs:element minOccurs="0" name="remitterEmailAddr" type="xs:string"/>
<xs:element minOccurs="0" name="remitterExpiryDate1" type="xs:string"/>
<xs:element minOccurs="0" name="remitterExpiryDate2" type="xs:string"/>
<xs:element minOccurs="0" name="remitterFirstName" type="xs:string"/>
<xs:element minOccurs="0" name="remitterGender" type="xs:string"/>
<xs:element minOccurs="0" name="remitterId" type="xs:string"/>
<xs:element minOccurs="0" name="remitterIdIssueAt1" type="xs:string"/>
<xs:element minOccurs="0" name="remitterIdIssueAt2" type="xs:string"/>
<xs:element minOccurs="0" name="remitterIdNumber1" type="xs:string"/>
<xs:element minOccurs="0" name="remitterIdNumber2" type="xs:string"/>
<xs:element minOccurs="0" name="remitterIdType1" type="xs:string"/>
<xs:element minOccurs="0" name="remitterIdType2" type="xs:string"/>
<xs:element minOccurs="0" name="remitterLastName" type="xs:string"/>
<xs:element minOccurs="0" name="remitterMiddleName" type="xs:string"/>
<xs:element minOccurs="0" name="remitterMobileNumber" type="xs:string"/>
<xs:element minOccurs="0" name="remitterNationality" type="xs:string"/>
<xs:element minOccurs="0" name="remitterNotificationType" type="xs:string"/>
<xs:element minOccurs="0" name="remitterOfficePhoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="remitterPoBox" type="xs:string"/>
<xs:element minOccurs="0" name="remitterTin" type="xs:string"/>
<xs:element minOccurs="0" name="remitterZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="rtBuyingApplied" type="xs:double"/>
<xs:element minOccurs="0" name="senderCorrBank" type="xs:string"/>
<xs:element minOccurs="0" name="sendingBank" type="xs:string"/>
<xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
<xs:element minOccurs="0" name="xmitAmount" type="xs:double"/>
<xs:element minOccurs="0" name="xmitCcyCd" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createTransactionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:createTransactionResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createTransactionResult">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="errorMessageResponseList" nillable="true" type="tns:errorMessageResponse"/>
<xs:element minOccurs="0" name="remittanceResponseList" type="tns:createRemittanceResponse"/>
<xs:element minOccurs="0" name="requestHeader" type="tns:requestHeader"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createRemittanceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="coverNumber" type="xs:string"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element minOccurs="0" name="isError" type="xs:int"/>
<xs:element minOccurs="0" name="noOfTransactions" type="xs:int"/>
<xs:element minOccurs="0" name="totalAmountReceived" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="inquireTransaction">
<wsdl:part element="tns:inquireTransaction" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="createTransaction">
<wsdl:part element="tns:createTransaction" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="createTransactionResponse">
<wsdl:part element="tns:createTransactionResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="inquireTransactionResponse">
<wsdl:part element="tns:inquireTransactionResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="CarnelianWebServiceRemittance">
<wsdl:operation name="inquireTransaction">
<wsdl:input message="tns:inquireTransaction" name="inquireTransaction"> </wsdl:input>
<wsdl:output message="tns:inquireTransactionResponse" name="inquireTransactionResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="createTransaction">
<wsdl:input message="tns:createTransaction" name="createTransaction"> </wsdl:input>
<wsdl:output message="tns:createTransactionResponse" name="createTransactionResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CarnelianWebServiceRemittanceImplServiceSoapBinding" type="tns:CarnelianWebServiceRemittance">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="inquireTransaction">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="inquireTransaction">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="inquireTransactionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="createTransaction">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="createTransaction">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="createTransactionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CarnelianWebServiceRemittanceImplService">
<wsdl:port binding="tns:CarnelianWebServiceRemittanceImplServiceSoapBinding" name="CarnelianWebServiceRemittanceImplPort">
<soap:address location="https://172.20.180.116:10102/carnelian-web-service-server/cxf/remittance"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>